<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WhatIfF1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="syncfusionLicenseKey" value="NzEwMjAyQDMyMzAyZTMyMmUzMG9EUVM1Mkt2QTlTenVhcUZlTXV5SjhSbEFwYjNGc2xVMUc0VzlxWHdVa2s9" />
    <add key="windowWidth" value="1920" />
    <add key="windowHeight" value="1080" />
  </appSettings>

  <log4net>
    <appender name="logFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="ALL" />
      <appender-ref ref="logFileAppender" />
    </root>
  </log4net>

  <userSettings>
    <WhatIfF1.Properties.Settings>
      <setting name="f1APIRoot" serializeAs="String">
        <value>http://ergast.com/api/f1/</value>
      </setting>
    </WhatIfF1.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-20.2460.0.48" newVersion="20.2460.0.48" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Shared.Wpf" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-20.2460.0.48" newVersion="20.2460.0.48" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
