<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.15" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="SharpZipLib" version="1.4.1" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="20.4.0.44" targetFramework="net48" />
  <package id="Syncfusion.SfAccordion.WPF" version="20.2.0.46" targetFramework="net48" />
  <package id="Syncfusion.SfChart.WPF" version="20.4.0.42" targetFramework="net48" />
  <package id="Syncfusion.SfGauge.WPF" version="20.4.0.44" targetFramework="net48" />
  <package id="Syncfusion.SfInput.WPF" version="20.2.0.46" targetFramework="net48" />
  <package id="Syncfusion.SfSkinManager.WPF" version="20.2.0.46" targetFramework="net48" />
  <package id="Syncfusion.Shared.WPF" version="20.4.0.44" targetFramework="net48" />
  <package id="Syncfusion.Themes.MaterialDark.WPF" version="20.2.0.46" targetFramework="net48" />
  <package id="Syncfusion.Tools.WPF" version="20.2.0.48" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net48" />
</packages>